h1{
	color:blue;
	font-size:30px;
}
.red{
	color:red;
}
.green{
	color:green;
}
.fs40{
	font size:40px;
}
.fs20{
	font size:20px;
}
#favoriteWord{
	width:400px;
	padding-left:20px
	font-size:40px;
	color:green;
	border-left:2px solid green;
	border-bottom:2px solid green;
	border-right:2px solid red;
}